/rat/matrices/nbproject/private/
/rat/matrices/build/
/rat/tallerB1_N2/nbproject/private/
/rat/tallerB1_N2/build/
/rat/Direccion/nbproject/private/
/rat/Direccion/build/
/rat/listasEnlazadas/nbproject/private/
/rat/listasEnlazadas/build/
/rat/ListasDobles/nbproject/private/
/rat/arboles/nbproject/private/
/rat/arboles/build/
